<div class="filter-content">
  <div class="d-flex align-items-center">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Buscar curso</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-end">
    <button class="width-10" mat-flat-button (click)="novoCurso()">Novo curso</button>
  </div>
</div>

<div class="table-content">
  <mat-table mat-table [dataSource]="cursos">
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nome"> {{element.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> Titulo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Titulo"> {{element.titulo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cargaHoraria">
      <mat-header-cell *matHeaderCellDef> Carga horária </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Carga horária"> {{element.cargaHoraria}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ativo">
      <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ativo">
        @if (element.ativo) {
        <p>Sim</p>
        }@else {
        <p>Não</p>
        }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-symbols-outlined cursor-pointer" (click)="abrirControleAulas(element.id)">
          school
        </span>

        <span class="material-symbols-outlined cursor-pointer" (click)="editarCurso(element.id)">
          edit
        </span>

        <span class="material-symbols-outlined cor-vermelho ms-2 cursor-pointer" (click)="desativarCurso(element.id)">
          delete
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
  </mat-table>
</div>
